{% extends "base.html" %}
{% block title %} password change {% endblock %}
{% block content %}

<div class="row text-center vertical-middle-sm">
    <h1>Forgotten your password</h1>
    <p>Enter your email</p>
    <form action="." method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="Send Mail" class="btn btn-primary btn-lg">
    </form>
</div>



{% endblock %}
